{% extends "header.html" %}
{% block content %}
{% load static %}
<form method="POST">
{% csrf_token %}

	<div style="background-color: #d84315;width: 50%;">
		<center>
		<h1>Courses</h1>
		<h4>Title</h4><input type="" name="Title" id="w" name="Title">
		<h4>Subtitle</h4><input type="" name="Subtitle" id="w" name="Subtitle">
		<h4>Text</h4><textarea id="w" name="Text"></textarea>
		<br>
		<button type="submit" class="btn btn-primary">save</button>
		</center>
	</div>




</form>


<br>
<br>
<table class="table table-bordered">
<tr>
<td>id</td>
<td>title</td>
<td>delete</td>
</tr>
{% for item in course %}
    <tr>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>
    <a href="{% url 'delete_course' id=item.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
{% endfor %}
</table>







<style type="text/css">
	#w{
		width: 75%;
	}
</style>


dSalamProgram
{% endblock %}

<!--123/dashbord/dview_orders/-->