{% extends "header.html" %}
{% block content %}
<!-- Images used to open the lightbox 1-->
<div class="container-lg" id="imagesg">
  <h1>Aqaba University of Technology (AUT)</h1>
  <h5>
    AUT is a Jordanian national institution established to operate in Jordan and the region in general and Aqaba in particular. Officially accredited by the Ministry of Higher Education and Scientific Research, Jordan. Aqaba University of Technology (AUT) offers courses and programs leading to officially recognized higher education degrees such as bachelor's degrees in several areas of study: IT, Administrative and Financial Sciences, Engineering, Pharmacy, Physical Therapy, and Medical Radiology. 
  </h5>
  <div id="gaal">
    <div class="row">
    {% for item in images %}
      <div class="column">
      <p></p>
        <img src="/static/images/{{item.image}}" onclick="openModal();currentSlide({{item.id}})" class="hover-shadow">
      </div>
      {% endfor %}
    </div>
  </div>

</div>
<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

      {% for item in images %}

    <div class="mySlides">
      <center>
      <img src="/static/images/{{item.image}}" style="
    width: 75%;
}">
      </center>
    </div>
      {% endfor %}

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>

</div>

<style type="text/css">
  #imagesg{
    padding: 5px;
    padding-right: 20px;
        box-shadow: 0px 0px 20px 5px rgb(170, 113, 38);
    background-color: rgb(251, 251, 251);
    width: 100%;
    margin: auto;
  }
  .row > .column {
  padding: 0 8px;
}
#gaal{
  width: 100%;
  margin: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
    padding-left: 29px;
}
/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 33%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,.next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 83px;
    margin-top: -300px;
    color: rgb(255, 5, 5);
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}  

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  width: 100%;
  ime-mode: auto;
  margin-bottom: 8px;

}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
<script>
  // Open the Modal
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  // Close the Modal
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  var slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>
{% endblock %}