{% extends "header.html" %}
{% block content %}
<div id="part" class="container-lg-4">
	<center>
		<h1>faculty members</h1>
	</center>
</div>


<div _ngcontent-aqw-c51="" class="row blogs">
{% for item in parameter2 %}
  
<div _ngcontent-aqw-c51="" class="col-lg-4 blog" style="cursor: pointer;margin-bottom: 10px;" tabindex="0">
  <div _ngcontent-aqw-c51="" class="image" style="background-image: url(&quot;/static/images/{{ item.image }} &quot;); background-repeat: no-repeat; background-size: cover;height: 300px;">
  </div>
  <div style="padding: 10px;" id="part" _ngcontent-aqw-c51="" class="content">
    <h5 _ngcontent-aqw-c51="">{{item.name}}</h5>
    <p _ngcontent-aqw-c51="">dde</p>
    <h5 _ngcontent-aqw-c51="">jop</h5>
    <p _ngcontent-aqw-c51="">dde</p>
    <h5 _ngcontent-aqw-c51="">specialty</h5>
    <p _ngcontent-aqw-c51="">dde</p>
    <h5 _ngcontent-aqw-c51="">degree</h5>
    <p _ngcontent-aqw-c51="">dde</p>
    <h5 _ngcontent-aqw-c51="">email</h5>
    <p _ngcontent-aqw-c51="">dde</p>
  </div>
</div>
{% endfor %}
</div>
<br>













<style>
	#part{
		background-color: #f8b739;
	}	
</style>

{% endblock %}
