{% extends "header.html" %}
{% block content %}
{% load static %}

<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">
<h1>Academic Calendar</h1>
<h2>Holidays in Jordan</h2>
<p>
    The standard working week in Jordan begins on Sunday and ends on Thursday, with Friday and Saturday being weekend days (Saturday is an exception for some organizations). To learn more about the formal holidays in Jordan, please find more information please
    <a href="https://www.officeholidays.com/countries/jordan">click here</a>
</p>

<p>
    Please be sure to check with us if any holiday is near an important date for you, as the actual holidays sometimes differ from their scheduled time. If you have any questions, please contact us.
</p>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Admission_Overview"><p>Admission Overview</p></a></li>
    <li><a class="dropdown-item" href="/apply"><p>Apply Now</p></a></li>
    <li><a class="dropdown-item" href="/Academic_Calendar"><p>Academic Calendar</p></a></li>
    <li><a class="dropdown-item" href="/Tuition"><p>Tuition</p></a></li>
    <li><a class="dropdown-item" href="/Payment"><p>Payment</p></a></li>
</ul>
</div>
</div>
</div>







<style>
    p{
        
    font-size: 20px;
    color: #464646;
    }
    li{
        
    font-size: 20px;
    color: #464646;
    }
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
{% endblock %}
