{% extends "header.html" %}
{% block content %}
{% load static %}

<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">
<h1>Admission Overview</h1>
<p>
    Scholars have to submit the registration application and required documents and they need to deposit their tuition by the deadline and resolve the tuition balance in full before the first day of classes in order to participate in the Salam program.
</p>
<p>
    To reserve your admission for long term course a non-refundable tuition deposit of $600 while $400 for intermediate course and 200 if you’re signing up for the short term course) must be paid within two weeks after the enrollment acceptance is sent to you. Your admission will not be reserved until your deposit is received. The deposit is deductible from your total tuition fee. The remaining balance of your tuition must be settled before the first day of classes.
</p>
<p>
    IMPORTANT: Please do not purchase your airline tickets until you receive a confirmation email from us regarding your enrollment.
</p>
<p>
    If you have any questions, please feel free to contact us. We are happy to assist you!
</p>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Admission_Overview"><p>Admission Overview</p></a></li>
    <li><a class="dropdown-item" href="/apply"><p>Apply Now</p></a></li>
    <li><a class="dropdown-item" href="/Academic_Calendar"><p>Academic Calendar</p></a></li>
    <li><a class="dropdown-item" href="/Tuition"><p>Tuition</p></a></li>
    <li><a class="dropdown-item" href="/Payment"><p>Payment</p></a></li>
</ul>
</div>
</div>
</div>







<style>
    p{
        
    font-size: 20px;
    color: #464646;
    }
    li{
        
    font-size: 20px;
    color: #464646;
    }
</style>
{% endblock %}
