{% extends "header.html" %}{% load mathfilters %}
{% block content %}
3
<br>
<br>


<br>
<br>
<br>
<div class="contaner">
	<div class="row">
	<div id="formborder" class="col">
	<del>
	<span><button id="button" type="button" class="btn btn-success">Personal Information</button></span>
	<span><button id="button" type="button" class="btn btn-success">Course Selection</button></span>
	<span><button id="button" type="button" class="btn btn-success">Educational Background</button></span>
	<span><button id="button" type="button" class="btn btn-secondary">Upload Materials</button></span>
</del>
<br>
	<h4> Registration</h4>
	<hr>
	<h5>Educational Background</h5>
	<br>
	<form method="POST">
	<div  class="row">
		<div class="col">
			<h4>Mother Language:</h4>
		</div>
		<div class="col">
			<h4>Did you study Arabic before?</h4>
		</div>
	</div>
	<div  class="row">
		<div class="col">
			<input placeholder="" type=""  id="input" required>
		</div>
		<div class="col">
			<center>
				<table>
					<tr>
						<td><input value="Yes"  placeholder="" type="radio" name="112211"  id="input" style="    margin-right: 27px;" required></td>
						<td><span>Yes</span></td>
						<td><input value="No"  placeholder="" type="radio" name="112211"  id="input" style="    margin-right: 27px; required"></td>
						<td><span>No</span></td>
					</tr>
				</table>
			<label></label>
		
			<label></label>
			</center>
		</div>
	</div>
	<div  class="row">
		<h5>Resonse for stadying arabic 	</h5>
		<div class="col">
			
				<table>
					<tr>
						<td><input value="No"  placeholder="" type="checkbox" name="112211"  id="input" style="    margin-right: 27px;" required></td>
						<td><span>Degree requirement</span></td>
						<td><input value="No"  placeholder="" type="checkbox" name="112211"  id="input" style="    margin-right: 27px; Culture"></td>
						<td><span>Religion</span></td>
						<td><input value="No"  placeholder="" type="checkbox" name="112211"  id="input" style="    margin-right: 27px; Business"></td>
						<td><span>Hobby</span></td>
						<td><input value="No"  placeholder="" type="checkbox" name="112211"  id="input" style="    margin-right: 27px; required"></td>
						<td><span>Culture</span></td>
					</tr>
				</table>
		</div>
	</div>
	<div  class="row">
		<div class="col">
			<h4>Your expectations to reach which level or skills after you study at Salam and in how will you use it:</h4>
			<textarea  id="input" required></textarea>

		</div>
	</div>
	
<button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
<div  class="col">
<h4>Location</h4>
<ul>
	<li>
		<p>Salam Program</p>
	</li>
	<li>
		<p>Aqaba, Jordan</p>
	</li>
	<li>
		<p>Email:<a href="mailto:Salam_Program@aut.edu.jo">Salam_Program@aut.edu.jo</a>
	</li>
	<li>
		<p>Tel: +962 (0) 3 2092310</p>
	</li>
	<li>
		<p>Tel: +962 (0) 3 2092300</p>
	</li>
</ul>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8264.523534701562!2d35.01199239443032!3d29.434521292810125!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15007713a3c23dbd%3A0x876c9b5ce76af53b!2sAqaba%20University%20Of%20Technology!5e0!3m2!1sen!2sbg!4v1644217671361!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
</div>
<br>
<br>




<style>
	#input{
		color: gray;
		width: 100%;
		font-size: 15pt;
    	padding: 5px;
	}
	#button{
		font-size: 12px;
	}
	#formborder{
		border: solid;
		padding: 15px;
	}
</style>

{% endblock %}
