{% extends "header.html" %}
{% block content %}

<hr id="shadoo">
<div class="container-lg" id="maincont">
    <div class="container">
        <p>
            The AUT Salam Exchange Program offers different courses each semester that covers different levels of proficiency.
        </p>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <p id="textstyle">
                VERY AFFORDABLE FEES,  INCLUDING 
            </p>
            <ul>
                <li>
                    Tuition fees of 1000JDs for the 1-month Program, 1800JDs for 2 months Program.
                </li>
                <li>
                    Transportation to and from campus.
                </li>
                <li>
                    Communicating with Arabs, both on-campus and off- campus means you won’t just learn Arabic – you’ll live it.
                </li>
                <li>
                    The university-certified course that you will surely add to your CV while abroad.
                </li>
                <li>
                    Social events, with Jordanian people, and other participants from other countries.
                </li>
                <li>
                    On-campus accommodation: private rooms, shared rooms, furnished apartments.
                </li>
            </ul>
            <div id="contact">
                <h5 id="textstyle">
                    Questions and Contact Ways
                </h5>
                <p id="textstyle">South of Aqaba, South Beach Road, Opposite Aqaba Development Corporation Stores, Aqaba, Jordan</p>
                <p id="textstyle">+962 (0) 3 2092300</p>
                <p id="textstyle">+962 (0) 3 2092310</p>
                <p id="textstyle">Working Hours: 8:00 - 4:00PM (Thursday: 8:00 - 2:00PM)</p>
            </div>
          </div>
          <div class="col">
                <center>
                    <p id="textstyle">
                        APPLY NOW BEGIN YOUR JOURNEY TODAY!
                    </p>
                </center>

                <div id="registerform">
                    <h1>
                        Registration
                    </h1>
                    <p>
                        To register, please take the time to fill out the information below.
                    </p>
                    <div class="col">
                    <form action="" method="POST">
                    {% csrf_token %}
                    <table><tr><td>
                    <p>First Name</p>
                     <input type="" required  id="inputrow" name="fname">
                    </td><td>
                    <p>Last Name</p>
                    <input type=""  required id="inputrow" name="lname">
                    </td></tr></table>
                    <p>Email</p>
                    <input type=""   required id="inputrow2" name="email">
                    <table><tr>
                    <td>
                        <p>Phone No</p>
                        <input type=""  required id="inputrow" name="phoneno">
                    </td>
                    <td>
                        <p>Birthday</p>
                        <input type="date" required id="inputrow" name="pirthday">
                    </td>
                    </tr></table>
                    <p>Address</p>
                    <input type="" id="inputrow2" name="address">
                    <p>Select your option</p>
                    <input type="radio" required  name="level" value="Intensive Course (Intermediate)"><p>Intensive Course (Intermediate)</p>
                    <input type="radio"  required name="level"  value="Intensive Course (Advanced)"><p>Intensive Course (Advanced)</p>
                    <input type="radio" required  name="level" value="Intensive Course (beginners)"><p>Intensive Course (beginners)</p>
                    <input type="submit" value="Apply Now" name="apply">
                    </form>
                    </div>

                </div>
            </div>
</div>




















<style type="text/css">
	#maincont{
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px grey;
        padding: 10px ;
    }
    #shadoo{
        box-shadow: -20px -18px 700px 200px grey;
        margin-top: -41px;
    }
    #contact{
        width: 360px;
        margin: auto;
        box-shadow: 0px 0px 6px 0px grey;
        border-radius: 5px;
        padding: 10px;
    }
    #textstyle{
        color: #ff8400;
    }
    #registerform{
        width:360px ;
        background-color: #b6b5b5;
        padding: 25px;
        margin: auto;
        
    }
    #inputrow{
        width:150px;
        height: 30px;
    }
    #inputrow2{
        width:300px;
        height: 30px;
    }
</style>
{% endblock %}
<!--#323232-->>