{% extends "header.html" %}
{% block content %}
<div class=" container-fluid" id="info1">
	<center><h1>Salam</h1><h3> Arabic Program.</h3>
	<h5>Are You looking for a new experience in a unique intercultural program in the Middle East!!!!!</h5>
	</center>
</div>
<br>
<div class=" container-fluid" id="info1">
	<h1>AUT will give you the opportunity to:</h1>
	<ul>
	<li><h4>Live, explore and meet new friends while living in a new culture.<h4></li>
	<li><h4>Learn Arabic Language<h4></li>
	<li><h4>Provide voluntary work to serve the community in Jordan and gain new experience<h4></li>
	</ul>
</div>
<br>
<div class=" container-fluid" id="info1">
	<center><h1>Course level.</h1></center>
</div>
<br>

{% for item in adds %}

<div class=" .container-fluid" id="info1">

		
	<h3 style="font-size:4vw;">{{item.title}}</h3>
	<hr>
	<div class="row">
		<div style="width:30%;" class="row">
			<h4 style="font-size:3vw;width:20%;">{{item.subtitle}}</h4>
		</div>
		<div style="width:70%;" class="row">
			<p id="text1">{{item.text}}</p>
		</div>
	</div>
	

</div>
<br>



{% endfor %}

<style>

@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Libre+Baskerville:ital@1&display=swap');

#info1{
	background-color:#f8b739;
	padding:10px;
	width:100%;
#text1{
	font-family: 'David Libre', serif;
	font-size:16pt;
}


}

</style>

{% endblock %}
