{% extends "header.html" %}
{% block content %}
{% load static %}
<div class="container">
	<div id="titeofblog">
		<center>
			<h2>Recent activities carried out by</h2>
			<h1>AUT Intercultural Program</h1>
		</center>
	</div>
</div>


<div id="blogs">
			<div class="container">
				{% for item in blogs %}
				<div id="blogsrow" class="row" style="margin: 10px;">
					<div id="backgroundi" >
						<img id="background" src="/static/images/{{item.image}}">
					</div>
					<div>
						<h1>{{item.title}}</h1>
						<h5>{{item.pragrapg1}}</h5>
						<p>{{item.date}}</p>
					</div>
				</div>
				{% endfor %}
			</div>

</div>






<style type="text/css">
	#blogsrow{
		background-color: #e7b234;
		margin: 10px;
		padding: 10px;
		border-radius: 15px;
	}
	#background:hover{
		background-image: url({% static 'header/AUT.png' %});
	}
	#background{
		background-color:
		blue;
		width: 100%;
		background-image: url(https://icon-library.com/images/gallery-icon-android/gallery-icon-android-15.jpg);
		background-size: cover;
		border-radius: 5px;
	}
	#backgroundi{
		blue;width: 100%;
		border-radius: 5px;
	}
	#titeofblog{
		background-color: #e7b234;
		border-radius: 5px;
	}
	#blogs{
		padding: 5px;
	}
	#redmore{
		color: #444444;
	}
</style>



{% endblock %}