{% extends "header.html" %}
{% block content %}
{% load static %}
<div class="container mt-3">
  <h2>Button Styles</h2>
  <a href="dview_orders"><button type="button" class="btn btn-dark">view orders</button><a>  
  <a href="dhome"><button type="button" class="btn btn-dark">home</button></a>    
  <a href="dSalamProgram"><button type="button" class="btn btn-dark">Salam Program</button></a>    
     
  <button type="button" class="btn btn-dark">apply</button>    
  <button type="button" class="btn btn-dark">about</button>    
  <button type="button" class="btn btn-dark">why aut ip</button>    
  <button type="button" class="btn btn-dark">newse</button>    
  <button type="button" class="btn btn-dark">academic</button>    
  <button type="button" class="btn btn-dark">blog</button>    
</div>
{% endblock %}

<!--123/dashbord/dview_orders/-->