{% extends "headerhome.html" %}
{% block content %}
{% load static %}
<br>
<br>
<br>
<p style="color: black; font-size: 22px; text-align: center; margin-bottom: 5px;">
        Get an internationally certified Arabic program
    </p>

    <p style="text-align: center; font-size: 55px; margin-top: 0px; margin-bottom: 10px;color: black;">
        Begin your journey today!
    </p>

    <div style="text-align: center;">
        <div style="border-bottom: 2.5px solid black; width:100px; margin: 0 auto; color: white; user-select: none;">a</div>
    </div>
<a href="/apply">
    <div style="cursor: pointer; color: white; background-color: black; padding: 10px; width: 100px; margin: 30px auto; text-align: center; user-select: none; selector: pointer;">
        Apply Now
    </div>

</a>
{% endblock %}
