{% extends "header.html" %}
{% block content %}
{% load static %}



<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">
    <h1>Health and Wellness</h1>
    <p>Salam places a high value on our students' ultimate well-being. It is worth noting that, with medical tourism on the increase, Jordan is renowned as the region's healthcare country, providing high-quality healthcare at a minimal cost. Most physicians in Jordan are globally educated and, as a result, are fluent in both English and the native tongue.</p>
    <p>Despite the fact that a full range of prescription medicine is accessible in Jordan, we recommend students to bring any personal medication that they may require. During the orientation, you will be provided all of the information you need regarding the Salam Arabic Institute's healthcare services and help. It is also recommended to inquire with your existing health insurance provider about foreign coverage, or to consider acquiring international health insurance to cover your stay in Jordan.</p>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Safty"><p>Safety</p></a></li>
    <li><a class="dropdown-item" href="/Travel_and_Visas"><p>Travel and Visas</p></a></a></li>
    <li><a class="dropdown-item" href="/Getting_Around_in_Aqaba"><p>Getting Around in Aqaba</p></a></li>
    <li><a class="dropdown-item" href="/about"><p>Recreation and Activities</p></a></li>
    <li><a class="dropdown-item" href="/Health_and_Wellness"><p>Health and Wellness</p></a></li>
</ul>
</div>
</div>
</div>


<style>
    p{
       color: black;text-align: justify;
    }
    li{
        padding: 5px;color: black;text-align: justify;
    }

    a{
        text-decoration:none;
        color: #031d40;
    }

    a:hover{
        border-bottom: 1px solid black;
    }
</style>

{% endblock %}
