{% extends "header.html" %}
{% block content %}
{% load static %}

<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">
<h1>Our Campus</h1>
<p>A comfortable learning environment for our scholars is committed to be provided since our beautiful campus is equipped with top of the line facilities. This is ensure smooth and enjoyable interactions with staff and peers, and also to help you feel completely at home during your stay.
</p>
<p>Please feel free to contact us for more information.</p>> 

<br>
<br>
<!-- Slideshow container -->
<div class="slideshow-container">
  <center>
  <h3>
  
  </h3>
  </center>
</div>
<div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  {% for item in slid %}
  <div class="mySlides">
    <center>
    <div style="
    max-width: 400px;
    min-width: 240px;
    position: absolute;
    background-color: #4b4b4ba1;
    height: -webkit-fill-available;
    padding: 25px;
        margin-bottom: 20px;">
      <h4>{{ item.title }}</h4>
      <br>
      <div style="
    font-size: 99%;
    color: #ffffff;
    text-align: justify;">
      {{ item.pragrapg }}
      </div>
      <br>
      <a href="{{ item.link }}"><button  style="
    width: 70px;
    height: 29px;
    font-size: 7pt;" type="button" class="btn btn-dark">read mor</button></a>
    </div>
    </center>
    <div>
    <img src="/static/images/{{ item.image }}"    id="fnfn">
    </div>
    
  </div>
  {% endfor %}
  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
  {% for item in slid %}
  <span class="dot" onclick="currentSlide({{item.id}})"></span>
  {% endfor %}
</div>

<br>





<div _ngcontent-aqw-c51="" class="row blogs">
<!--
{% for item in news %}<div class="slideshow-container">
  <center>
  <h2>
  News
  </h2>
  </center>
</div>
<div _ngcontent-aqw-c51="" class="col-lg-6 blog" style="cursor: pointer;" tabindex="0">
  <div _ngcontent-aqw-c51="" class="image" style="background-image: url(&quot;/static/images/{{item.image}}&quot;); background-repeat: no-repeat; background-size: cover;height: 223px;">
    <div _ngcontent-aqw-c51="" class="date" style=" background-color: #181e38;width: 69px;padding: 15px;">
      <h6 _ngcontent-aqw-c51="">{{item.day}}</h6>
      <h6 _ngcontent-aqw-c51="">{{item.month}}</h6>
    </div>
  </div>
  <div _ngcontent-aqw-c51="" class="content">
    <h4 _ngcontent-aqw-c51="">{{item.title}}</h4>
    <p _ngcontent-aqw-c51="">{{item.pragrapg}}</p>
  </div>
</div>
{% endfor %}
-->

</div>

</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Overview"><p>Overview</p></a></li>
    <li><a class="dropdown-item" href="/Our-campus"><p>Our-campus</p></a></li>
    <li><a class="dropdown-item" href="/academic"><p>Staff</p></a></li>
</ul>
<br>
<br>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55571.66891408851!2d35.01272108576661!3d29.480507307652502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15007713a3c23dbd%3A0x876c9b5ce76af53b!2z2KzYp9mF2LnYqSDYp9mE2LnZgtio2Kkg2YTZhNiq2YPZhtmI2YTZiNis2YrYpw!5e0!3m2!1sar!2sjo!4v1644267991385!5m2!1sar!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
</div>


<br>
<br>
<style>

    p{
        
    font-size: 20px;
    color: #464646;
    }
    li{
        
    font-size: 20px;
    color: #464646;
    }
</style>
{% endblock %}
