{% extends "header.html" %}
{% block content %}
{% load static %}

<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">

<h1>Overview</h1>
<p>The word Salam in Arabic is one of the greeting ways.</p>
<ul>
    <li>Salam program is the home ground of Arabic learning for scholars of any age group from entire the world who are interested in the Middle East and looking for a chance to learn the Arabic language and live the experience of new culture and explore the Arabic heritage
</li>
    <li>Salam Program is certified to prove your presence in this valuable experience plus attendance certificates accompanied by souvenir gifts to the participants.</li>
    <li>Salam program provides cultural trips and activities will be organized throughout the program to 
        <a href="http://wadirum.jo/">Wadi Rum</a>,
         <a href="http://visitpetra.jo/">Petra</a>,
          <a href="http://wildjordan.com/destinations/dana-biosphere-reserve">Dana</a>
           and other historical neighboring sites.

</li>
    <li>Based upon professional identities, skills, and academic disciplines, all scholars of this program will participate in several volunteering works to serve the surrounding local society. </li>
    <li>The Program includes guided living and practical tours through Aqaba city</li>
</ul>
<p>Please feel free to contact us for more information.</p>


</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Overview"><p>Overview</p></a></li>
    <li><a class="dropdown-item" href="/Our-campus"><p>Our-campus</p></a></li>
    <li><a class="dropdown-item" href="/academic"><p>Staff</p></a></li>
</ul>
</div>
</div>
</div>



<style>
    li{
        text-align: justify;
    }
    p{
        
    font-size: 20px;
    color: #464646;
    }
    li{
        
    font-size: 20px;
    color: #464646;
    }
</style>
{% endblock %}
