{% extends "header.html" %}
{% block content %}
{% load static %}

<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">

<h1>
    Payment
</h1>
<p>After you receive our confirmation email regarding your enrollment, including the course schedule and balance due, please send the payment via Bank Wire Transfer to our bank. Our account details:</P>
    <h4>
</h4>
<uL>
    <li>Country: Jordan</li>
    <li>   Bank Name: Etihad Bank
</li>
    <li>   Account Name: Aqaba University of Technology company  
</li>
    <li>   Account Number: 0020100129315101
</li>
    <li>    IBAN: JO44UBSI1120000020100129315101

</li>
    <li>  SWIFT: UBSIJOAXXXX</li>
</uL>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Admission_Overview"><p>Admission Overview</p></a></li>
    <li><a class="dropdown-item" href="/apply"><p>Apply Now</p></a></li>
    <li><a class="dropdown-item" href="/Academic_Calendar"><p>Academic Calendar</p></a></li>
    <li><a class="dropdown-item" href="/Tuition"><p>Tuition</p></a></li>
    <li><a class="dropdown-item" href="/Payment"><p>Payment</p></a></li>
</ul>
</div>
</div>
</div>







<style>
    p{
        
    font-size: 20px;
    color: #464646;
    }
    li{
        
    font-size: 20px;
    color: #464646;
    }
</style>
{% endblock %}
