{% extends "header.html" %}
{% block content %}
{% load static %}


<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">

<h1>
    Private Tutoring
</h1>
<p style="">
In addition to our academic services, we also provide high-quality, low-cost private tutoring for all of our classes. Private tutoring is available as a stand-alone program. We believe that connecting with a private tutor can benefit every student because they are available to address the individual needs, interests, and aspirations of each student. Learner-centered techniques such as elicitation, communicative activities, and collaborative learning are used in private tutoring to help students develop crucial speaking, listening, and writing skills.<p>
</h4>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/our_programs"><p>Our programs</p></a></li>
    <li><a class="dropdown-item" href="/supplementary_courses_and_activities"><p>Supplementary-Courses-And-Activities</p></a></li>
    <li><a class="dropdown-item" href="/Private_Tutoring"><p>Private Tutoring</p></a></li>
</ul>
</div>
</div>
</div>
<br>
<br>


<style>
    p{
        
    font-size: 20px;
    color: #464646;
    }
    li{
        
    font-size: 20px;
    color: #464646;
    }
</style>
{% endblock %}
