{% extends "header.html" %}
{% block content %}
{% load static %}



<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">


<div>
    <h1>Recreation and Activities</h1>
    <div>
        <div>
            <p>
                Jordan is a very extraordinary country that combines beauty, history, modernity, and diversity. Jordan is definitely one of the most enticing places for people seeking adventure, recreation, the discovery of other cultures, leisure, or relaxation, due to its distinct East meets West beauty. Jordan provides the ultimate vacation experience, with something for everyone! It has a refined respect for the past, as seen by its gorgeous architecture and Old World customs, and an eager celebration of the present, as evidenced by its numerous modern facilities and 
                activities.
            </p>
    </div>
</div>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Safty"><p>Safety</p></a></li>
    <li><a class="dropdown-item" href="/Travel_and_Visas"><p>Travel and Visas</p></a></a></li>
    <li><a class="dropdown-item" href="/Getting_Around_in_Aqaba"><p>Getting Around in Aqaba</p></a></li>
    <li><a class="dropdown-item" href="/Recreation_an_Activities"><p>Recreation and Activities</p></a></li>
    <li><a class="dropdown-item" href="/Health_and_Wellness"><p>Health and Wellness</p></a></li>
</ul>
</div>
</div>
</div>

{% endblock %}
