{% extends "header.html" %}
{% block content %}
{% load static %}


<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">

<div>
    <h1>Safety</h1>
    <div>
        <div>
            <p>
                Your safety is our first priority at Salam. It may be great to know that Jordan remains one of the safest countries in the Middle East, with constant security. Jordan is a popular travel destination for students, visitors, and people with partnerships in the Middle East because it has been able to shield itself from the region's continuous political, economic, and social instability. 
            </p>

            <p>
                To enable you find the most suitable about traveling abroad, we recommend that you follow any formal travel instructions issued by your home country and check with the Jordan embassy present there for the most up-to-date information.
            </p>
        </div>
    </div>
</div>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Safty"><p>Safety</p></a></li>
    <li><a class="dropdown-item" href="/Travel_and_Visas"><p>Travel and Visas</p></a></a></li>
    <li><a class="dropdown-item" href="/Getting_Around_in_Aqaba"><p>Getting Around in Aqaba</p></a></li>
    <li><a class="dropdown-item" href="/about"><p>Recreation and Activities</p></a></li>
    <li><a class="dropdown-item" href="/Health_and_Wellness"><p>Health and Wellness</p></a></li>
</ul>
</div>
</div>
</div>
<br>
<br>


{% endblock %}
