{% extends "header.html" %}
{% block content %}
{% load static %}
<br>
<br>
<h1>
    Payment
</h1>
<p>After you receive our confirmation email regarding your enrollment, including the course schedule and balance due, please send the payment via Bank Wire Transfer to our bank. Our account details:</P>
    <h4>
</h4>
<uL>
    <li>Country: Jordan</li>
    <li>   Bank Name: Etihad Bank
</li>
    <li>   Account Name: Aqaba University of Technology company  
</li>
    <li>   Account Number: 0020100129315101
</li>
    <li>    IBAN: JO44UBSI1120000020100129315101

</li>
    <li>  SWIFT: UBSIJOAXXXX</li>
</uL>
<form action="" method=""> 
                <div> <input type='text' style='width: 275px; padding: 10px 20px; font-size: 14px; border-radius: 5px;' placeholder='* Name'> </div>
                <br>
                <div> <input type='text' style='width: 275px; padding: 10px 20px; font-size: 14px; border-radius: 5px;' placeholder='* Email'> </div>
                <br>
                <div> <input type='text' style='width: 275px; padding: 10px 20px; font-size: 14px; border-radius: 5px;' placeholder='Phone'> </div> 
                <br>
                <textarea type='text' style='width: 275px; height: 90px; resize: none; padding: 10px 20px; font-size: 14px; border-radius: 5px;' placeholder='Message'></textarea> 
                <div style="text-align: center;"><input style="padding: 5px 10px; margin-top: 10px; font-size:15px; cursor: pointer; background-color: rgb(253, 213, 213); width: 100%;" type="submit"></div> 
            </form>

{% endblock %}
