{% extends "header.html" %}
{% block content %}
{% load static %}

<div style="padding: 0 100px; display: inline-block;">
    <h1>Supplementary Courses and Activities</h1>
    <div style="display: inline-block;">
        <div  style="width: 55%; display: inline-block;  text-align: justify; font-size: 20px;">
            <p>
                Salam offers supplementary courses in addition to our main programs, based on student demand at our school. We organize courses such as Arabic Calligraphy, Media Arabic, and Arabic for Specific Purposes.
            </p>
            <p>
                Classes for these extra courses are normally held twice a week and are depending on demand and availability. Supplementary courses are not part of the standard syllabus, but are intended to supplement it without interfering with it. Classes for special group study may be scheduled on a daily basis based on mutual agreement and previous planning.
            </p>

            <h2>Arabic Calligraphy</h2>
            <p>
                Students will study about the significance of Arabic Calligraphy in Arab civilization, as well as its history, evolution, many kinds, and common features. Students will analyze and debate samples of historical and modern calligraphy and get an appreciation for the beauty of Arabic calligraphy while learning Arabic script writing.
            </p>

            <h2>Arabic-language media</h2>
            <p>
                This subject is especially essential for students who want to become journalists or work in international relations. Following the news on a regular basis is essential for anybody trying to comprehend the Middle East. To assist you become familiarized with the media language, we employ famous periodicals and news programs.
            </p>

            <h2>Arabic for Specific Purposes</h2>
            <p>
                Students are also encouraged to request their own custom-designed courses depending on their needs to achieve a certain objective. We are willing to develop a course tailored just for you, depending on the availability of the teachers.
            </p>


    </div>
    <div style="width:30%; padding: 0 50px; display: inline-block; position: fixed;">
        <ul>
            <li><a href="">Health and Wellness</a></li>
            <li><a href="">Safety</a></li>
            <li><a href="">Travel and Visas</a></li>
            <li><a href="">Recreation and Activities</a></li>
            <li><a href="">Getting Around in Aqapa</a></li>
        </ul>
    </div>

</div>

<style>
    li{
        padding: 5px;
    }

    a{
        text-decoration:none;
        color: #031d40;
    }

    a:hover{
        border-bottom: 1px solid black;
    }
</style>

{% endblock %}
