{% extends "header.html" %}
{% block content %}
{% load static %}



<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">

<div style="padding: 0 100px;">
    <h1>Travel and Visas</h1>
    <div>
        <div>
            <p>
                Most Western nationalities are eligible for an on-arrival visa at Queen Alia Airport for 40 JD (about 56 USD); nevertheless, we strongly advise foreign students to get a visa in advance through Jordanian consulates in their home countries. If you have any problems, please contact Salam Institute and we will assist you. We recommend that our students come in Jordan at least a few days before orientation and the start of the semester to ensure that all of their documentation is in order.
            </p>
            <p>Before you travel to Jordan, keep the following points in mind:</p>
            <p>
                <ul>
                    <li>To enter Jordan, the passport's expiration date must be at least six months in the future. If your passport expires within the next six months, you must renew it before traveling.</li>
                    <li>When you arrive at Amman's Queen Alia Airport, proceed to the Visa department and pay 40 JD ($56) at the desk to get your on-arrival visa. Most nations have a 30-day visa validity period. Then you'll have to apply for an extension.</li>
                    <li>We will guide you through the procedure and help you at the local offices for extending your visa for three months shortly after lessons begin.</li>
                    <li>If you want to study with us for more than one term, you must ask for another extension at the conclusion of the first three months, which can be extended up to six months.</li>
                    <li>If you have obtained a residency visa, you are required to depart Jordan at the end of your six-month stay. Most students take advantage of this time to travel around the Middle East. Many people fly to Turkey or Egypt since there are great flight packages available for these countries. Following this brief holiday, students return to Jordan to complete the remainder of their visa term.</li>
                </ul>
            </p>
            <p>We also want to let you know that Aqaba has a local airport (Aqaba King Hussein International Airport) that you could use to reach to Aqaba.</p>
        </div>
        
    </div>
    
    <div>

    </div>
</div>
</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Safty"><p>Safety</p></a></li>
    <li><a class="dropdown-item" href="/Travel_and_Visas"><p>Travel and Visas</p></a></a></li>
    <li><a class="dropdown-item" href="/Getting_Around_in_Aqaba"><p>Getting Around in Aqaba</p></a></li>
    <li><a class="dropdown-item" href="/about"><p>Recreation and Activities</p></a></li>
    <li><a class="dropdown-item" href="/Health_and_Wellness"><p>Health and Wellness</p></a></li>
</ul>
</div>
</div>
</div>


<style>
    li{
        padding: 5px;
    }

    a{
        text-decoration:none;
        color: #031d40;
    }

    a:hover{
        border-bottom: 1px solid black;
    }
</style>

{% endblock %}
