{% extends "header.html" %}
{% block content %}
{% load static %}

<br>
<br>
<div class="container-fluid">
<div class="row">
<div style="width:70%;" class="col-lg-9">
<h1>Tuition</h1>

<table >
    <tr><td>Programs</td><td>Tuition (USD)</td></tr>
    <tr><td>Short term course ( 2 weeks)    $900 </td>
        <td>$900 </td></tr>
    <tr><td>Intermediate term course ( 4 weeks) $1600</td><td>$1600</td></tr>
    <tr><td>Long term course ( 8 weeks)     </td><td>$3000</td></tr>
    <tr><td>Private Tutoring    $20 per hour (one-on-one tutoring) and
$30 per hour (two-on-one, for a student pair).

</td>
<td>$20 per hour (one-on-one tutoring) and<br>
$30 per hour (two-on-one, for a student pair).
</td>
</tr>
    <tr>
        <td>Supplementary Courses   You will be notified at the beginning of the first week. Please contact us for more details.</td>
        <td>You will be notified at the beginning of the first week. Please contact us for more details.</td>
    </tr>
</table>
<br>
<h2>The Tuition Fee includes:</h2>
<ul>
    <li><p>A native-speaker language partner, within a group, for 4 hours weekly (on average) to practice your language skills (for long term course).</p></li>
    <li><p>The core programs also (Short Term course Intermediate Term course Long Term course) include up to 2, 4 and 8 trips respectively to historical neighboring sites and another short trip to the Aqaba city. Note: Our trips cover only the cost of the transportation. Any entrance fees, meals, entertainment or additional costs are the responsibility of the student.</p></li>
    <li><p>Accommodation </p></li>
    <li><p>Access to our on-campus Wifi Network.</p></li>
    <li><p>Certificate of Program Completion from AQABA University of technology.</p></li>
    <li><p>A one-time complimentary free airport pick-up (king Al Hussein Airport in Aqaba) for students who arrive in Aqaba for the first time, to make their travel hassle-free. Please Note: You are required to inform us about your flight details in advance to reserve pick-up. </p></li>
</ul>


</div>
<div style="width:30%;" class="col-lg-3">
    <br>
    <br>

<ul>
    <li><a class="dropdown-item" href="/Admission_Overview"><p>Admission Overview</p></a></li>
    <li><a class="dropdown-item" href="/apply"><p>Apply Now</p></a></li>
    <li><a class="dropdown-item" href="/Academic_Calendar"><p>Academic Calendar</p></a></li>
    <li><a class="dropdown-item" href="/Tuition"><p>Tuition</p></a></li>
    <li><a class="dropdown-item" href="/Payment"><p>Payment</p></a></li>
</ul>
</div>
</div>
</div>





<style>
    td{
        color: black;
    }
    p{
        
    font-size: 20px;
    color: #464646;
    }
    li{
    text-align: justify;
    font-size: 20px;
    color: #464646;
    }
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
{% endblock %}
